:root {
    --main-font: ‘Spartan’, sans-serif;
    --darkest-purple: #1b093d;
    --dark-purple: #270f56;

    --accent-color: #7624F6;
    --secondary-color: #43CAFC;
    --primary-color: #d8f2fc;
    box-sizing: border-box;
    
    /* map colors */
    --sea-color: #a0c0cc;
    --land-color: #c2afdf;
    --road-border-color: #ffffff;
  }


*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
}
