.game-container {
    margin: 5vw;
}

QuestRoundDisplay {
    width: 24vw;
}

.question-map-box {
    display: inline-flex;
    width: 100%;
}

.question-box{
    /* position: absolute; */
    /* top: 1em;
    right: 1em; */
    /* z-index: 10; */
    margin: 0;
    padding: 10px;
    width: 20%;
    border: 2px black solid;
    border-radius: 5px;
    height: 700px;
}

.question-round-display {
    padding-left: 10px;
}

.map-overlay-box {
    height:max-content;
    width: auto;
}

.feedback-overlay-show {
    padding: 20px 0;
    height: auto;
    width: 70em;
    background-color: #bcbcbc;
    color: #fff;
    position: absolute; 
    bottom: 155px;
    text-align: center;
}

.feedback-overlay-hide {
    display: none;
    position: absolute; 
    bottom: 155px;

}
