.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-info {
    width: 80vw;
    display: flex;
    align-items: center;
}

.globe {
    width: 700px;
}

.game-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-boxes {
    display: flex;
    justify-content: space-between;
}

.headings h1{
    font-size: 38px;
}

.headings h2 {
    font-size: 20px;
}