div, button{
    font-family: var(--main-font);
}

.leaderboard-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.leaderboard {
    padding: 0 20px 20px 0;
    overflow: hidden;
    height: 20vh;
    width: 60vw;
    overflow-y: scroll;
    border-radius: 5px;
  }

.leaderboard-list-items{
    display: flex;
    justify-content: space-evenly;
    border-radius: 5px;
    margin: 10px;
    background-color: var(--primary-color);
}

.scores-breakdown{
    display: flex;
    justify-content: center;
}

.rounds-breakdown{
    background-color: var(--primary-color);

    border-radius: 5px;
    margin: 10px;
    width: 400px;
    padding-left: 20px;
}

.scores-aside{
    display: flex;
    flex-direction: column;
}

.totals{

    border-radius: 5px;
    margin: 10px;
    width: 400px;
    height: 200px;
    padding-left: 20px;
    background-color: var(--primary-color);
}

.button-box{

    border-radius: 5px;
    display: flex;
    justify-content: center;
    width: 400px;
    height: 120px;
    margin-left: 10px;
    background-color: var(--primary-color);
}

.new-game-button{
    font-family: var(--main-font);
    height: 30px;
    margin-top: 3em;
    padding: 0;
}