nav {
    display: flex;
    justify-content: center;
}

.logo {
    text-decoration: none;
    font-family: var(--main-font);
    font-size: 14px;
    margin-right: 60px;
    padding-top: 15px;
}

header {
    position: absolute;
    z-index: 5;
    top: 0;
    background-color: transparent;
}