#header-nav{
    display: flex;
    justify-content: start;
    position: fixed;
    width: 20%;
    background-color: transparent;
    z-index: 5;
    padding: 10px;
    padding-top: 25px;
    padding-left: 35px;
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
}

.logo, .logo-question-mark {
    text-decoration: none;
    font-family: 'Spartan', sans-serif;
    font-size: 14px;
    margin-right: 0;
    padding-top: 15px;
    color: var(--darkest-purple);
}

.logo-question-mark{
    color: var(--accent-color);
    font-weight: 900;
}